.cart-main_container {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: white;
  overflow-y: scroll;
  padding: 32px;
}

.cart-main_container.scrollbar::-webkit-scrollbar {
  border: 14px solid white;
}

.cart-warning {
  font-size: 20px;
  color: rgb(218, 127, 127);
  margin: 0 0 1rem;
}

.cart-checkout {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
