.gallery-main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
  background: whitesmoke;

  overflow-y: auto;
}

.gallery-title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;

  img {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
  }
}

.product-list {
  display: grid;
  gap: 2rem;
  grid-auto-rows: 14rem;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  justify-items: center;
}

.scrollbar::-webkit-scrollbar {
  width: 37px;
  background-color: #C1C7D0;
  position: absolute;
  border: 14px solid whitesmoke;
  border-radius: 100px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #0f62fe;
  background-clip: padding-box;
  border: 14px solid transparent;
  border-radius: 100px;
  box-shadow: none;
  min-height: 54px;
}

.scrollbar::-webkit-scrollbar-track {
  background: none;
  border: none;
}
