.truck {
  width: 6rem;
  height: 5rem;
  font-size: 10px;
  background-color: rgb(123, 202, 226);
  border-radius: 0.4rem;
  position: relative;
  animation: wiggle 2s infinite, move 5s infinite;
}

.cab {
  position: absolute;
  width: 2.3rem;
  height: 1.5rem;
  background-color: rgb(123, 202, 226);
  left: -2.5rem;
  bottom: 0;
  border-radius: 40% 0 0.4rem 0.4rem;
}

.cab::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1.5rem;
  background-color: rgb(123, 202, 226);
  top: -0.5rem;
  right: 0;
  border-radius: 100% 0 0 0;
}

.cab::after {
  left: 0.5em;
}
.truck::before {
  left: 0.5rem;
}
.truck::after {
  right: 0.5rem;
}

// wheels
.truck::before,
.truck::after,
.cab::after {
  content: '';
  width: 1rem;
  height: 1rem;
  position: absolute;
  bottom: -0.5rem;
  box-sizing: border-box;
  background-color: #a0a0a0;
  border: 0.2rem solid #636363;
  border-radius: 50%;
}

.smoke {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #333;
  right: 0;
  bottom: -30px;
  border-radius: 50%;
}

.smoke::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #333;
  right: -10px;
  bottom: 0px;
  border-radius: 50%;
}

.smoke::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #333;
  right: 0;
  bottom: 10px;
  border-radius: 50%;
}

.smoke {
  animation: drift 2s infinite, smoke-1 2s infinite;
}
.smoke::before {
  animation: drift 3s infinite, smoke-2 3s infinite;
}
.smoke::after {
  animation: drift 4s infinite, smoke-3 4s infinite;
}

@keyframes wiggle {
  0% {
    margin-top: 0;
    height: 5em;
  }

  5% {
    margin-top: -0.2em;
    height: 5.2em;
  }

  20% {
    margin-top: -0.1em;
    height: 5em;
  }

  35% {
    margin-top: 0.1em;
    height: 4.9em;
  }

  40% {
    margin-top: -0.1em;
    height: 5.1em;
  }

  60% {
    margin-top: 0.1em;
    height: 4.9em;
  }

  75% {
    margin-top: 0;
    height: 5em;
  }

  80% {
    margin-top: -0.4em;
    height: 5.2em;
  }

  100% {
    margin-top: 0.1em;
    height: 4.9em;
  }
}

@keyframes move {
  0% {
    margin-left: 100%;
  }

  50% {
    margin-left: 0%;
  }

  100% {
    margin-left: -100%;
  }

  0%,
  100% {
    filter: opacity(0);
  }

  10%,
  90% {
    filter: opacity(1);
  }
}

@keyframes drift {
  0%,
  100% {
    filter: opacity(0);
  }

  15% {
    filter: opacity(0.9);
  }
}

@keyframes smoke-1 {
  to {
    width: 20px;
    height: 20px;
    right: -20px;
    bottom: -20px;
  }
}

@keyframes smoke-2 {
  to {
    width: 30px;
    height: 30px;
    right: -50px;
    bottom: 50px;
  }
}

@keyframes smoke-3 {
  to {
    width: 40px;
    height: 40px;
    right: -80px;
    bottom: 50px;
  }
}
